/* ====================================== _____________ Footer Styles _____________ ====================================== */
footer {
  // ____________ Copyright
  .copyright {
    padding: 8px 0;
    border-top: 1px solid $borderColor;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    img{
      width: 100px;
    }
    p {
      color: $textColor;
      margin-bottom: 0;
      a {
        transition: $transition;
        margin-bottom: 0;
        &:hover {
          color: $mainColor;
        }
      }
    }
  }
}
/* ====================================== _____________ Footer Styles _____________ ====================================== */
